# Source files for the training at: https://gitorious.org/ancient-greek-training-for-tesseract

# New segsearch produces better results
enable_new_segsearch	1

# Increase penalty for incorrect punctuation, important as
# diacritics can easily be misrecognised as punctuation
language_model_penalty_punc 0.35

# Increase minimum linesize. This minimises cases of accents
# being incorrectly recognised as separate lines.
textord_min_linesize 2.25
